html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  
  header {
      background-color: rosybrown;
      color: whitesmoke;
      text-align: center;
      padding: 20px ;
  }
  header h1 {
      margin: 0 ;
  }


.container {
    position: relative;
    width: 80%;
    margin: 0 auto;
}
.container article p:first-child {
    margin-top: 0 ;
}
.container article {
    position: relative;
    left: 0;
    width: 70%;
    float: left;
    column-count: 3;
    column-gap: 20px;
    column-rule: 2px solid #434585
}
.container article h2{
    text-align: center;
    column-span: all; 
}
.container .sidebar {
    float: left;
    background-color: blanchedalmond;
    width: 25%;
    height: 300px;
}
.container .sidebar h3{
    color: brown;
}
hr {
    clear: both;
}
@media screen and (max-width: 500px) {

    .container article {
        column-count: 1;
        width: 100%;
        margin: 0;
    }
    .container .sidebar {
        clear: both;
        width: 100%;
        margin: 0;
    }

    @media screen and (min-width: 501px) and (max-width: 1000px){
        .container article {
            column-count: 2;
        }
    }
}
