html {

    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body {
    
    margin: 0 auto;
    width: 80%;
    text-align: center;
    background-color: coral;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#pizzaDiv{
    margin-top: 20px;
    border-radius: 100px;
    margin-bottom: 50px;
    border-style: groove;
    border-width: thick;
    border-color: black;
    padding: 5px;
    vertical-align: middle;
    

}
[type="checkbox"]
{
    vertical-align:middle;
    display: inline-block;
}

#sandwich {
    display: inline-block;
    margin-top: 40px;
    border-radius: 100px;
    margin-bottom: 10px;
    border-style: groove;
    border-width: thick;
    border-color: black;
    padding: 5px;
    vertical-align: middle;

}
   
    
