h1 {
    color:firebrick;
    font-family: 'Courier New', Courier, monospace;
    font-family: Verdana, Geneva, Tahoma, sans-serif
} 





section {
    display: block;
    position: relative;
    left: 40px;
    background-color: hotpink;
    width: 600px
}

p {
    text-align: center;
    letter-spacing: 1px;
    text-indent: 50px;
    text-transform: capitalize
}